extends layout

block content
    if videos.length > 0
        ul
        each video in videos
            li
                a(href='/videos/watch?v=' + video._id) #{video.title}
    else
        p There are no uploaded videos yet