extends layout

block content
    ul
        li
            a(href='/videos/watch?v=1') Video 1
        li
            a(href='/videos/watch?v=2') Video 2
        li
            a(href='/videos/watch?v=3') Video 3