extends layout
block content
    h1= title
    p Welcome to #{title}
    if user
        p You are logged in as #{user.username}
        p All information about user: #{user}
    else
        p Not logged in