doctype html
html
    head
        title Passport Local Mongoose Login Example
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='/') Online theater
                div
                    ul.nav.navbar-nav
                        li
                            a(href='/videos') Videos
                        if (typeof(user) == 'undefined')
                            li
                                a(href='/login') Log In
                            li
                                a(href='/register') Register
                        else
                            li
                                a(href='/users/' + user.username) #{user.username}
                            li
                                a(href='/videos/upload') Upload video
                            li
                                a(href='/logout') Log Out
        .container
            block content
    block scripts
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')