extends layout
block content
    p #{profileUser.username}'s profile page
    if user && user.username == profileUser.username
        p This is your own profile
    else
        p This is not your profile
    if videos.length == 0
        p #{profileUser.username} has no uploaded videos
    else
        p Videos uploaded by #{profileUser.username}:
        ul
            each video in videos
                li
                    a(href='/videos/watch?v=' + video._id) #{video.title}