extends layout
block content
    p #{profileUser.username}'s profile page
    p Something interesting will be here
    if currentUser.username == profileUser.username
        p You are viewing your own profile
    else
        p You are viewing foreign profile